{
  "UserAgent": "aws-amplify-cli/2.0",
  "Version": "1.0",
  "IdentityManager": {
    "Default": {}
  },
  "CredentialsProvider": {
    "CognitoIdentity": {
      "Default": {
        "PoolId": "ap-south-1:REPLACE_WITH_IDENTITY_POOL_UUID",
        "Region": "ap-south-1"
      }
    }
  },
  "CognitoIdentity": {
    "Default": {
      "PoolId": "ap-south-1:REPLACE_WITH_IDENTITY_POOL_UUID",
      "Region": "ap-south-1"
    }
  }
}
